/* bootstrap modifications */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 970px;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  border-color: #ddd;
  color: #337ab7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  border-color: #ccc;
  color: #23527c;
}

.form-control {
  border-color: #ddd;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* custom branding */

.tlr-navbar {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 21px;
  padding-top: 21px;
}

.tlr-navbar .navbar-nav > li > a {
  background: transparent;
  padding: 10px 15px;
  font-size: 16px;
}

.tlr-brand {
  padding: 10px 15px;
  height: auto;
}

.tlr-navbar .navbar-toggle {
  border: 0;
  margin: 0;
  padding: 10px 15px;
  color: #337ab7;
}

.tlr-brand .octicon {
  font-size: 22px;
}

.tlr-navbar .octicon.dropdown-chevron {
  font-size: 14px;
}

.tlr-navbar .nav .dropdown.open > a,
.tlr-navbar .nav .dropdown.open > a:focus,
.tlr-navbar .nav .dropdown.open > a:hover {
  background: transparent;
}

.tlr-navbar .nav .dropdown-menu {
  border-radius: 4px;
  border-color: #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.055);
  box-shadow: 0 6px 12px rgba(0,0,0,.055);
  margin-top: 4px;
}

.tlr-navbar .nav .dropdown-menu .callout-arrow {
  position: absolute;
  right: 20px;
  top: -5px;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #ddd;
}

.tlr-navbar .nav .dropdown-menu .btn-link {
  text-decoration: none;
  padding: 3px 20px;
  border: 0;
}

.tlr-navbar .nav .dropdown-menu > li > a {
  color: #337ab7;
}

.tlr-navbar .nav .dropdown-menu > li > a:focus,
.tlr-navbar .nav .dropdown-menu > li > a:hover {
  background: transparent;
  color: #23527c;
}

.tlr-navbar-btn-form {
  padding: 0;
  margin: 0;
}

.tlr-footer {
  color: #ccc;
  margin-bottom: 14px;
  padding-bottom: 42px;
  padding-top: 42px;
  text-align: center;
}

.tlr-footer a {
  color: #ccc;
}

.tlr-footer .sep {
  margin-left: -5px;
  margin-right: -5px;
}

.tlr-footer .sep::after {
  content: '·';
}

@media (max-width: 767px) {
  .tlr-navbar {
    padding-bottom: 14px;
    padding-top: 14px;
  }

  .tlr-navbar .nav .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .tlr-navbar .nav .dropdown-menu .callout-arrow {
    display: none;
  }

  .tlr-navbar .nav .dropdown-menu .btn-link {
    padding: 5px 15px 5px 25px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
  }

  .tlr-navbar .nav .btn {
    margin: 10px 15px;
  }
}

/* homepage */

.tlr-tease {
  margin-bottom: 180px;
  margin-top: 90px;
  text-align: center;
}

.tlr-tease h1 {}

.tlr-tease h3 {
  margin-bottom: 30px;
  margin-top: 10px;
}

.tlr-tease .search-input {
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
}

.tlr-tease .stats {
  margin-top: 40px;
  font-size: 16px;
}

.tlr-tease .counter {
  font-weight: 400;
  color: #454545;
}

@media (max-width: 490px) {
  .tlr-tease h1 {
    font-size: 24px;
  }

  .tlr-tease h3 {
    font-size: 18px;
  }
}

/* other */

.sidebar-heading {
  margin-top: 0;
}








/* user listing */

.user-item-icon {
  padding-right: 5px;
  color: #999;
}

/* repo listing */

.repo-item {}

.repo-item-icon {
  padding: 5px 15px 5px 0;
  color: #999;
  float: left;
}

.repo-item-info {}

.repo-item-heading {}

.repo-item-text {
  font-size: 12px;
  color: #999;
}

/* repo view */

.repo-head {
  margin-bottom: 15px;
}

.repo-head .repo-icon {
  position: absolute;
  top: -2px;
  left: 0;
  color: #bbb;
}

.repo-head .repo-title {
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 21px;
  font-weight: normal;
  color: #777;
}

.repo-head .repo-title-username {}

.repo-head .path-divider {
  margin: 0 0.25em;
}

.repo-head .repo-title-reponame {
  font-weight: bold;
}

.repo-head .repo-description {
  margin-bottom: 15px;
}

/* tree listing */

.tree-listing {
  font-size: 13px;
}

/* file viewer */

.file-viewer pre code {
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
}

/* commit listing */

.commits-listing {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 18px;
  position: relative;
  padding-left: 40px;
}

.commits-listing:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #f3f3f3;
}

.commit-item {}

.commit-point {
  margin-left: -34px;
  line-height: 16px;
  background-color: #fff;
  color: #ccc;
}

.commit-group {
  background: #fff;
  margin-top: -34px;
  margin-bottom: 34px;
  padding: 8px 10px;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 1.2;
}

.commit-actions {
  margin-top: 2px;
}

.commit-info {
  color: #999;
}

.commit-title {
  margin-top: 0;
  margin-bottom: 5px;
  color: #000;
}

.commit-add {
  color: #6cc644;
}

.commit-del {
  color: #bd2c00;
}
