# Default server definitions
# http://www.tornadoweb.org/en/stable/guide/running.html

# Enumerate all the Tornado servers here
upstream tailr {
  # Distribute based on consistent hashing
  # hash $request_filename consistent;

{% for i in range(app.concurr) %}
  server localhost:{{ app.baseport + i }};
{% endfor %}
}

# Server definition for HTTP
server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  root {{ app.root }};
  index index.html index.htm;

  server_name {{ proxy.name }};

  # Allow client uploads
  client_max_body_size 10m;

  # Only retry if there was a communication error, not a timeout on the Tornado
  # server (to avoid propagating "queries of death" to all frontends)
  proxy_next_upstream error;

  # Disable sendfile in virtual machine environments
  # https://jeremyfelt.com/2013/01/08/clear-nginx-cache-in-vagrant/
  sendfile off;

  location = /favicon.ico {
    rewrite (.*) /static/favicon.ico;
    access_log off;
  }

  location = /robots.txt {
    rewrite (/*) /static/robots.txt;
    access_log off;
  }

  # Serve static files directly through nginx
  location /static/ {
    try_files $uri $uri/ =404;
    if ($query_string) {
      expires max;
    }
  }

  # Reverse proxy to application
  location / {
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_redirect off;
    proxy_pass http://tailr;
  }
}
