{% extends "../base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.6.0/styles/github.min.css">
{% end %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="masthead">
      <div class="repo-head">
        <h1 class="repo-title"><a href="{{ reverse_url("web:user", repo.user.name) }}" class="repo-title-username">{{ repo.user.name }}</a><span class="path-divider">/</span><a href="{{ reverse_url("web:repo", repo.user.name, repo.name) }}" class="repo-title-reponame">{{ repo.name }}</a> <span class="mega-octicon octicon-repo repo-icon"></span></h1>
        <p class="text-muted">{{ repo.desc }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {% set api_url = request.protocol + "://" + request.host + "/api" + request.path %}
  <div class="col-sm-10 col-sm-offset-1">
    {% if current_user == repo.user %}
    <div class="alert alert-info" role="alert">
      <h5><strong>You created this repository.</strong></h5>

      <p>Here is how to get started:</p>

      <p>
        <ol>
          <li>
            In order to track your <em>linked data</em> resources through the Push API, you will first need to generate an API token.
            You can do so <a href="{{ reverse_url("web:new-token") }}">by following this link</a>.
            Copy the generated token right away as it will only be displayed once.
          </li>
          <li>
            To authorize push access to your repository, we verify the secret token passed in the <code>Authorization</code> HTTP header of a request actually belongs to you.
            You can revoke access granted by a token by deleting it on the <a href="{{ reverse_url("web:settings") }}">settings page</a>.
          </li>
          <li>
            You can push new versions of your tracked resources through straight-forward HTTP requests.
            Specify the original URI of the resource in the <code>key</code> query parameter.
            You can supply an optional <code>datetime</code> value to say when the resource was changed or else the current server time will be used as a default.
            <ul>
              <li>A <code>PUT</code> request with the resource RDF description in the body will create a new revision of the resource.</li>
              <li>A <code>DELETE</code> request marks an existing resource as, well, deleted.</li>
            </ul>
            Acceptable <code>Content-Type</code> values are <code>application/rdf+xml</code>, <code>application/n-triples</code> and <code>text/turtle</code>.
          </li>
          <li>
            An example of how to send requests from the command-line using <code>curl</code> is given below (<a href="http://explainshell.com/explain?cmd=curl+-X+PUT+-H+%22Authorization%3A+token+%24TOKEN%22+-H+%22Content-Type%3A+application%2Fn-triples%22+--data-binary+%40path%2Fto%2Fresource.nt+%22{{ url_escape(api_url + "?key=http://...&datetime=...") }}%22" target="_blank">explanation here</a>).<br>
          </li>
        </ol>
      </p>

      <p>For more information on pushing data to a repository, please also refer to the official <a href="https://github.com/pmeinhardt/tlr#push-api">project readme</a>.</p>
    </div>

    <pre><code class="bash"># export the token for later use
export TOKEN="0bc283..."<br>
# create a new revision of a resource with an RDF description
curl -X PUT \
  -H "Authorization: token $TOKEN" \
  -H "Content-Type: application/n-triples" \
  --data-binary @path/to/resource.nt \
  "{{ api_url }}?key=http://...&datetime=yyyy-MM-dd-HH:mm:ss"<br>
# mark a resource as deleted
curl -X DELETE \
  -H "Authorization: token $TOKEN" \
  "{{ api_url }}?key=http://...&datetime=..."</code></pre>

    <hr>
    {% end %}

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Reading resource states from {{ repo.name }}</h4>
        <p>Prior states of <em>linked data</em> resources tracked in this repository are accessible through a <a href="https://datatracker.ietf.org/doc/rfc7089/">Memento</a> API.</p>
        <p>
          You can request a certain resource from this repository by specifying its URI in the <code>key</code> query parameter.
          Specify the date and time for the resource state you are interested in by passing an <code>Accept-Datetime</code> HTTP header, for instance:
        </p>
        <pre><code class="bash">curl -H "Accept-Datetime: Thu, 11 June 2015 09:45 GMT" "{{ api_url }}?key=http://..."</code></pre>
        <p>In order to link to a certain resource state, you may also provide the datetime argument as a query parameter:</p>
        <pre><code class="bash">curl "{{ api_url }}?key=http://...&datetime=2015-06-11-09:45:00"</code></pre>
        <p>To find out when a resource was changed, query for the timemap:</p>
        <pre><code class="bash">curl "{{ api_url }}?key=http://...&timemap=true"</code></pre>
        {% if len(samples) > 0 %}
        <p>You can find links to a small sample of resources from this repository below:</p>
        {% else %}
        <p><small><strong>This repository is still empty.</strong></small></p>
        {% end %}
      </div>

      {% if len(samples) > 0 %}
      <ul class="list-group">
        {% for s in samples %}
        <li class="list-group-item"><a href="{{ api_url + "?key=" + s.val }}">{{ s.val }}</a></li>
        {% end %}
      </ul>
      {% end %}
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/highlight.js/8.6.0/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/8.6.0/languages/bash.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% end %}
