{% extends "../base.html" %}

{% block content %}
<div class="tlr-tease">
  <h1>Versioning the Web of Data</h1>
  <h3>Lorem ipsum dolor. Sit amet reciprodum.</h3>
  <form class="form-inline" action="{{ reverse_url("web:search") }}" method="get">
    <input class="form-control input-lg search-input" type="text" name="q" tabindex="1" placeholder="Search users and repositories">
  </form>
  <div class="stats">
    <!-- TODO: Rotate stats?  -->
    <!-- <p class="stat fade in"><span class="counter">12,334,592,091</span> revisions stored</p> -->
    <!-- <p class="stat fade"><span class="counter">982,876,542</span> resources versioned</p> -->
    <!-- <p class="stat fade"><span class="counter">25,924</span> repositories created</p> -->
  </div>
</div>
{% end %}
