<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% try %}{{ escape(title) }}{% except NameError %}tailr{% end %}</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://oss.maxcdn.com/octicons/2.2.3/octicons.css">
  <link rel="stylesheet" href="{{ static_url("stylesheets/base.css") }}">
  {% block stylesheets %}{% end %}
</head>
<body>
  <a href="#content" tabindex="1" class="sr-only">Skip to content</a>
  <header class="navbar navbar-static-top tlr-navbar" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="octicon octicon-three-bars"></span>
        </button>
        <a href="/" class="navbar-brand tlr-brand"><span class="octicon octicon-history"></span><span class="sr-only">Home</span></a>
      </div>
      <nav class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav tlr-navbar-nav">
          <li>
            <a href="/explore">Explore</a>
          </li>
          <li>
            <a href="/stats">Statistics</a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right tlr-navbar-nav">
          {% if current_user %}
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="hidden-xs"><span class="octicon octicon-gear"></span> <span class="octicon octicon-chevron-down dropdown-chevron"></span></span>
              <span class="visible-xs">More</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="callout-arrow"></li>
              <li><a href="{{ reverse_url("web:user", current_user.name) }}">{{ current_user.name }}</a></li>
              <li class="divider"></li>
              <li><a href="{{ reverse_url("web:settings") }}">Settings</a></li>
              <li>
                <form class="navbar-form tlr-navbar-btn-form" action="{{ reverse_url("web:deauth") }}" method="post">
                  {% module xsrf_form_html() %}
                  <button type="submit" class="btn btn-link">Sign out</button>
                </form>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ reverse_url("web:create-repo") }}" class="btn btn-default">Create Repo</a>
          </li>
          {% else %}
          <li><a href="{{ reverse_url("web:auth") }}">Sign in</a></li>
          <li><a class="btn btn-default" href="{#{{ reverse_url("web:join") }}#}">Sign up</a></li>
          {% end %}
        </ul>
      </nav>
    </div>
  </header>

  <div class="container" id="content">
    {% block content %}{% end %}
  </div>

  <div class="container">
    <footer class="tlr-footer" role="contentinfo">
      <ul class="list-inline">
        <li><a href="https://github.com/pmeinhardt/tlr">GitHub</a></li>
        <li><span class="sep"></span></li>
        <li><a href="https://github.com/pmeinhardt/tlr/issues">Issues</a></li>
        <li><span class="sep"></span></li>
        <li>2015</li>
      </ul>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://oss.maxcdn.com/keymaster.js/1.6.1/keymaster.min.js"></script>
  {% block scripts %}{% end %}
</body>
</html>
