# Ansible inventory file
#
# You can copy this file to create your own inventories for different
# application deployments, e.g. 'production', 'staging' et cetera.
#
# Provide the names or IP addresses of your hosts here (see groups below).
# If a host runs on a non-standard SSH port you can put the port number
# after the hostname with a colon. For instance:
#
#   [web]
#   192.168.1.10:2222
#
# If you want Ansible to SSH into your hosts as a different user,
# e.g. 'manager', you can provide the username as a host variable:
#
#   [web]
#   host.name ansible_ssh_port=2222 ansible_ssh_user=manager
#
# or you can specify the username on the command-line:
#
#   ansible-playbook -i production -u manager site.yml
#
# For an introduction to Ansible inventory files, read:
# https://docs.ansible.com/intro_inventory.html
#
# Ansible best practices are presented at:
# https://docs.ansible.com/playbooks_best_practices.html

[web]
xxx.xxx.xxx.xxx

[db]
xxx.xxx.xxx.xxx
